// Font
$mainFont                : 'Georgia';
$descriptionFont         : 'Arial';
$adddressFont            : 'Times New Roman';

// Size
$mainFontTitleSize       : 44px;
$secondaryFontTitleSize  : 35px; 
$mainFontSize            : 15px;
$mainFontWeight          : normal;
$mainLineHeight          : 1.2;


// Main color
$mainFontColor           : #545454;
$default-color           : #fafafa;
$primary-color           : #f1cdb3;

// Neutral Color
$neutral-bg              : #f6f6f6;
$neutral-regular         : #ffffff;
$neutral-secondary       : #b2b2b2;
$neutral-btnColor        : #292929;

